body {
  background-color: rgb(246, 4, 4);
  color: #fff;
  padding-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
}

.clock {
  font-size: 2em;
}

span {
  background-color: #111;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em;
}
